[submodule "vim"]
	path = vim
	url = https://github.com/mutahirqureshi/mq-vim.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/mutahirqureshi/prezto.git
[submodule "keyboard/macos/Capslock"]
	path = keyboard/macos/Capslock
	url = https://github.com/Vonng/Capslock.git
